/* Global */
body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: white;
}
a {
    color: #062F4D;
}
.w-100 {
    width: 100%;
}
.clear::after {
    content: "";
    clear: both;
    display: block;
}
.left {
    float: left;
}
.right {
    float: right;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}  
h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}
p {
    margin-top: 0;
}
/* Container */
#container {
    width: 1160px;
    margin: 0 auto;
}
/* Header */
#header {
    background-color: #062F4D;
    border-bottom: 5px solid white;
}
#header a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/* Header Logo */
 #header .logo {
    margin-left: 20px;
    padding-top: 22px;
    width: 10%;
}
/* Header Nav */
#main_nav {
    width: 75%;
    margin-left: 30px;
    padding-top: 16px;
    padding-bottom: 20px;
}
#main_nav>ul>li {
    display: inline-block;
}
#main_nav>ul>li:hover {
    background-color: #02131f;
}
#main_nav>ul>li>a {
    font-family: 'Titillium Web', sans-serif;
    display: block;
    padding: 4px;
    letter-spacing: 1px;
    position: relative;
}
#main_nav>ul>li>a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    border: 8px solid white;
    border-color: transparent transparent white;
    left: 40%;
    display: none;
}
#main_nav>ul>li:hover a:after {
    display: block;
}
#main_nav .dropdown {
    display: none;
    position: absolute;
    background-color:  #02131f;
}
#main_nav .dropdown {
    position: absolute;
    display: none;
    width: 950px;
    left: 15%;
    z-index: 20;
}
#main_nav ul li:hover .dropdown {
    display: block;
}
#main_nav .dropdown .images {
    position: relative;
}
#main_nav .dropdown .images .txt {
    position: absolute;
    bottom: 0px;
    width: 70%;
    left: 10px;
}
#main_nav .dropdown .images .txt a {
    color: white !important;
    font-family: 'Lato', sans-serif;
}
#main_nav .col-1 {
    width: 68%;
    padding: 20px;
}
#main_nav .col-1 ul {
    list-style: square;
    padding-left: 20px;
    color: white;
}
#main_nav .col-2 {
    width: 20%;
    padding: 20px;
}
#main_nav .dropdown .sub-col_1,
#main_nav .dropdown .sub-col_2 {
    width: 46%;
}
#main_nav .col-2 ul {
    background-color: transparent;
}
#main_nav ul li .dropdown a:hover {
    background-color: transparent;
}
/* Header Links */
.links {
    padding-top: 23px;
    font-size: 18px;
    width: 10%;
}
.links span {
    display: inline-block;
    margin-left: 20px;
}
/* Head */
#head {
    position: relative;
    background-color: #062F4D;
    border-bottom: 5px solid white;
}
#head ul li {
    display: inline-block;
}
#head ul li:hover {
background-color: #02131f;
}
#head ul li a {
    text-transform: uppercase;
    color: white;
    font-family: 'Titillium Web', sans-serif; 
    font-weight: bold;
}
#head .logo_1 {
    width: 10%;
    position: absolute;
    z-index: 20;
}
#head .logo_1 img {
    border-right: 5px solid white;
    border-bottom: 5px solid white;
}
 /* .head_body {
    position: relative;
} */
.bottom_bar>ul>li a {
   display: block;
   position: relative;
} 
.bottom_bar>ul>li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    border: 2px solid white;
}
.bottom_bar>ul>li:hover a:after {
display: block;
}
/* a:hover .bottom_bar>ul>li {
    display: block;
} */
/* Nav_2 */
#nav_2 {
    margin-top: 6px;
    margin-left: 15%;
    width: 70%;
}
#nav_2 ul li {
   font-weight: bold;
   /* padding: 15px;  */
}
/* Sociable */
.sociable {
    width: 15%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sociable span {
   margin: 5px;
}
.sociable span a {
    color: white;
    padding: 1px;
    margin-left: 5px;
}
/* Main_Section */
#main_section {
    margin-bottom: 100px;
}
#main_section a {
color: white;
}
.first {
width: 25%;
}
.middle {
    width: 50%;
}
.last {
    width: 25%;
}
.img_1 {
position: relative;
}
.txt_1 {
    position: absolute;
    bottom: 0;
}
/* Section */
#section {
    margin-bottom: 50px;
}
#section a {
    color: #062F4D;
    font-family: 'Titillium Web', sans-serif; 
    font-weight: bold;
}
.section_1 {
    width: 35%;
    margin-right: 15px;
}
.section_2 {
    width: 35%;
    margin-left: 15px;
   
}
.section_3 {
    width: 25%;
}
.img_1 {
/* width: 100%; */
position: relative;
}
.img_1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}
.img_1 .txt_1 {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    padding: 10px;
}
.pic {
    width: 15%;
}
.line {
    width: 80%;
}
.img_1:hover img {
    filter: grayscale(1);
}
.img_1>.txt_1 a{
    color: white !important;
}
.side_card {
    margin-bottom: 10px;
}

.side_pic {
    position: relative;
}
.side_pic .side_line {
    bottom: 0px;
    position: absolute;
    background-color: white;
}
.side_line:hover {
    background-color: #02131f;
    color: white;
}
.side_line a:hover {
    color: white !important;
}
.title {
    position: relative;
}
.title a {
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.title:after {
    content: "";
    border: 1px solid #062F4D;
    position: absolute;
    width: 100%;
    left: 0;
    top: 55%;
    z-index: -1;
}
.cards {
    position: relative;
}
.news_card {
    margin-top: 10px;
    margin-bottom: 10px;
}
.news_card:after {
    content: "";
    border: 0.5px solid rgb(100, 101, 102);
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 56px;
    
}
/* Section_4 */
.lft_side {
    width: 70%;
}
.img_nxt ,.nxt_card {
    width: 45%;
    margin-right: 20px; 
}
.side_add {
    width: 25%;
}
/* nxt_section */
#nxt_section {
    margin-bottom: 40px;
}
/* Footer */
.footer {
    background-color: #073759;
    position: relative;
}
.inner {
    position: absolute;
    height: 30px;
    width: 21%;
    left: 1%;
    top: -18%;
    z-index: 10;
}
.footer ul li  a ,.headings {
    text-transform: uppercase;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
}
.headings {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Lato', sans-serif !important;
}
.left_part,.right_part {
    width: 48%;
}
.footer_bottom{
    background-color: #02131f;
    text-align: end;
}
.footer_span, .teams {
    width: 100%;
    text-align: right;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-transform: capitalize;
    margin-left: 20px;
    font-size: 16px;
}

